opencv-python
numpy
soundfile
librosa
transformers
huggingface-hub
safetensors
tqdm
scipy
PyYAML
onnx
onnxruntime
imageio-ffmpeg
kaldi-native-fbank
tensorboardX
textgrid
thop
torch
torchvision
torchaudio
typeguard<3
